* {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6;
}

body {
    margin: 0;
    background: url('./img/bg.jpg');
}

body > div {
    background: white;
    max-width: 75%;
    margin: 0.5rem auto 2rem;
    border: 2px solid #ffd24a;
    border-radius: 3px;
}

h1, h2, h3 {
    color: #1fabe5;
}

#site_header {
    background-color: #ff8523;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

#logo {
    padding-bottom: 10px;
    padding-left: 1.2rem;
}

.main_navigation {
    padding-top: 1.5rem;
    padding-left: 1rem;
}

.main_navigation a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

#page_content {
    margin: 1rem;
}

#page_content section:first-child {
    padding-top: 0.5rem;
}

p a {
    color: #1fabe5;
}

ul {
    font-weight: bold;
}

section {
    border-bottom: 4px solid #ddd;
    padding-bottom: 1rem;
}


/* table styling */

table {
    margin-bottom: 15px;
}

table, thead, td {
    border: 1px solid #046c97;
    border-collapse: collapse;
    padding: 1rem;
}

thead {
    background-color: #1fabe5;
    color: #fff;
}

table tbody tr td {
    border: 1px solid #1fabe5;
}

table img {
    height: 50px;
    width: auto;
}


/* form styling */

form {
    padding: 1rem;
    background-color: #eee;
    border-radius: 4px;
    margin-bottom: 15px;
}

.name {
    padding: 1rem;
    background-color: #ff8523;
    border-radius: 4px;
    color: white;
}

.name input {
    padding: 0.5rem 0.2rem;
    border-color: #fff;
    width: 30%;
}

.city_container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#first_name, #last_name {
    border-radius: 2px;
}

#first_name {
    margin-right: 1rem;
}

#bio {
    border-radius: 4px;
    border: 1px solid #1fabe5;
}

form textarea {
    width: 100%;
    margin: 0.5rem 0;
}

form div:nth-child(3) {
    margin-right: 0.5rem;
}

#submit_button {
    font-weight: bold;
    padding: 0.75rem 1rem;
    background-color: #1fabe5;
    color: white;
    text-transform: uppercase;
    border: 2px solid #1fabe5;
    border-radius: 4px;
}